.TermAndCondition{

    padding: 10px 80px ;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;




> div{
 > p{
    > span{
        font-weight: 900;
    }
  }
   
}



}