.ContractorGuide{



.imageBox{

background-image: url("../../assests/images/contractorguide.png");


>h1{
    color: #ffffff;
    font-family: Fira Sans, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
> h2{
    margin: 12px 0 0 151px;
    color: #ffffff;
    font-family: Fira Sans, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

> p{
    color: #ffffff;
    font-family: Fira Sans, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;

}

> button {
    width: 137px;
    height: 53px;
    margin: 0 0 0 151px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background: #ffbf00;
    border: none;
    z-index: 27;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}



}



> .box1{

display: flex;
align-items: center;

> .card{

    width: 540px;
    height: 566px;
 
    background: #ffbf00;
> figure{
    width: 50px;
    height: 60px;
}

> h1{
 color: #000000;
  font-family: Fira Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}
> p{
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}


}




}

> .box2{

> h1{
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
}

> .flex{
display: flex;
align-items: center;
justify-content: center;

> .limited{


}

> .umbrella{
    color: #ffbf00;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;

}



}


}

> .box3{


    > h1{
        color: #000000;
        font-family: Montserrat, var(--default-font-family);
        font-size: 36px;
        font-weight: 700;
        line-height: 43.884px;
    }

    > p{
        color: #232323;
        font-family: Roboto, var(--default-font-family);
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
    }

    > section{
        display: flex;
        align-items: center;
        justify-content: center;


        > button{
           background-color: #000000;
            color: #ffbf00;
            font-family: Roboto, var(--default-font-family);
            font-size: 16px;
            font-weight: 600;
            line-height: 18.75px;

        }
    }

}

> .box4{
    > p {
        color: #232323;
        font-family: Roboto, var(--default-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
    }
}



}