.ContractorGuide{



.imageBox{

background: url("../../assests/images/contractorguide.png") no-repeat center;
background-size: cover;
width: 100%;
height: 800px;
display: flex;
align-items: center;
justify-content: center;

> section{
    width: 40%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    >h1{
        color: #ffffff;
        font-family: Fira Sans, var(--default-font-family);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
    }
    > h2{
      
        color: #ffffff;
        font-family: Fira Sans, var(--default-font-family);
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
    }
    
    > p{
        color: #ffffff;
        font-family: Fira Sans, var(--default-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
    
    }
    
    > button {
        width: 137px;
        height: 53px;
      
        padding: 10px ;
        cursor: pointer;
        background: #ffbf00;
        border: none;
       
        border-radius: 50px;
        font-size: 16px;
        font-weight: 400;
    }
}





}



> .box1{

display: flex;
align-items: center;
justify-content: center;
gap: 40px;

> .card{
  transform: translateY(-50px);
    width: 540px;
    height: 566px;
    border-radius: 10px;
 
    background: #ffbf00;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
> figure{
    width: 50px;
    height: 60px;
}

> h1{
 color: #000000;
  font-family: Fira Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}
> p{
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}


}




}

> .box2{

display: flex;
align-items:center;
justify-content: center;
flex-direction: column;
padding:10px  50px;



> h1{
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
}

> .difference{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:30%;
    margin: 20px;
    
    width: 60%;
}

> .flex{
    width: 100%;
    height: 100px;
display: flex;
align-items: center;
justify-content: center;
gap: 80px;

> .topic {
    width: 20%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

> .limited{


    width: 20%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

> .umbrella{
    width: 20%;
    padding: 10px 20px;
    background-color: #ffd556;

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}



}


}

> .box3{
    width: 100%;
    padding: 20px 50px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: orange;

    > main{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        > h1{
            color: #000000;
            font-family: Montserrat, var(--default-font-family);
            font-size: 46px;
            font-weight: 900;
            line-height: 43.884px;
        }
    
        > p{
            color: #232323;
            font-family: Roboto, var(--default-font-family);
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            align-self: center;
        }
    
        > section{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
    
    
            > button{
               background-color: #000000;
                color: #ffbf00;
                font-family: Roboto, var(--default-font-family);
                font-size: 16px;
                font-weight: 600;
                line-height: 18.75px;
                width: 200px;
                height: 45px;
                padding: 10px;
                border-radius: 20px;
    
            }
        }

    }
  

}

> .box4{

    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: column; 

     > section {
        width: 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        

        > p {
            color: #232323;
            font-family: Roboto, var(--default-font-family);
            font-size: 20px;
            font-weight: 400;
            line-height: 18.75px;
        }
    }
   
}

> .box5{

width: 100%;
padding:30px;
background-color: orange;
display: flex;
align-items: center;
justify-content: center;


}


}