.AboutUs{



   > .imageBox{

  background-image: url("../../assests/images/about1.png");
        > h1{
            color: #ffffff;
            font-family: Roboto, var(--default-font-family);
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
        }
        > h2{
            margin: 19px 0 0 126px;
            color: #ffffff;
            font-family: Montserrat, var(--default-font-family);
            font-size: 60px;
            font-weight: 700;
            line-height: 73.14px;
        }
        
 }



> .approach{

    display: flex;
    align-items: center;
    justify-content: center;

> h1{
    margin: 20.046px 0 0 146px;
    color: #ffbf00;
    font-family: Roboto, var(--default-font-family);
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;

}

> card{
display: flex;
flex-direction: column;


> h1{
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

> h2{
    color: #ffbf00;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

> p{
    color: #8b8b8b;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
}


}




}


> .box2 {
    background: #232323;

    > h1{
        color: #ffd558;
        font-family: Roboto, var(--default-font-family);
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
    }

    > main{
        display: flex;
        align-items: center;

      > .card{
        display: flex;
        align-items: center;
     
         > h1{
            color: #ffd558;
            font-family: Roboto, var(--default-font-family);
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
         }
          > p{
            color: #ffffff;
            font-family: Roboto, var(--default-font-family);
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
          }

      }


    }





}



> .box4{


> h1{
    color: #ffbf00;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
> h2{
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 36px;
    font-weight: 700;
    line-height: 43.884px;
}
> figure{

}

> p{
    color: #8b8b8b;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}

> .grid{
display: grid;
grid-template-columns: repeat(2,minmax(0,1fr));
 > div{
    display: flex;
   h1{
    color: #8b8b8b;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
   }


 }

}

> button{
    width: 228px;
    height: 43px;
    margin: 61px 0 0 158px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background: #ffbf00;
    border: none;
 
    border-radius: 50px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;

}

}

}

